
<div class="container-fluid bg-secondary">
  <div class="container-xl pt-5 pb-5">

    <h1 class="text-center text-white p-5">FrameQuizz</h1>

    <div class="col-12 text-center text-white pb-5 border-bottom">
      <div class="row justify-content-center">
        <h3 class="col-2 border-end">Pelicula</h3>
        <h3 class="col-2">Serie</h3>
      </div>
    </div>

    <div class="col-12 m-auto mt-5 mb-5 border-bottom">
      <div class="col-5 m-auto">
        <img src="./assets/images/fotograma Interstellar.PNG" class="img-fluid" alt="">
      </div>
      <div class="col-12 mt-4 mb-4">
        <form class="col-4 m-auto d-flex" role="search">
          <input class="form-control bottom me-2" type="search" placeholder="Introduce el titulo de la pelicula" aria-label="Search">
          <button type="button" class="btn btn-light">Enviar</button>
        </form>
      </div>
    </div>

  </div>
</div>
