.search-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

/* Lista de sugerencias */
.suggestions-list {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  border: 1px solid gray;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
