<!-- CUERPO PRINCIPAL -->

<div class="container-fluid bg-secondary" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container-xl">

    <!-- TITULO DEL CARRUSEL -->

    <div class="row pt-5">
      <h1 class="text-center text-white">Películas Populares</h1>
    </div>

    <!-- CARRUSEL -->

    <!-- CARRUSEL -->
    <div id="carouselPopularMovies" class="carousel slide mt-2 mb-4">
      <div class="carousel-inner">
        <div *ngFor="let movie of popularMovies; let i = index" class="carousel-item" [class.active]="i === 0">
          <div class="text-center">
            <img id="fondo" [src]="movie.backdrop" class="absolute w-75 m-auto z-0" alt="{{ movie.title }}">
            <img [src]="movie.posterUrl" class="d-block w-25 m-auto z-1" alt="{{ movie.title }}">
            <div class="mt-2">
              <button id="botonCarru" type="button" class="btn btn-light" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + i">
                Ver Información
              </button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade text-white" [id]="'modal' + i" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content bg-primary rounded">
                <div class="modal-header">
                  <h5 class="modal-title" id="movieLabel{{i}}">{{ movie.title }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>{{ movie.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPopularMovies" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPopularMovies" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- 1º Sección -->

    <div class="row border-top">

      <!-- Noticias -->

      <div class="col-6 border-end mt-5">
        <h2 class="text-center text-white p-2">Noticias</h2>
        <div class="row justify-content-around mt-5">
          <div class="col-6">
            <img src="./assets/images/Noticia1.PNG" class="img-fluid" alt="">
            <p class="text-center text-white mt-2">Napoleón Arrasa en la taquilla de EE.UU</p>
            <div class="row justify-content-around mt-5">
              <a href="#" class="btn btn-light col-5" tabindex="-1" role="button" aria-disabled="true">Ver Noticias</a>
            </div>
          </div>
          <div class="col-6">
            <div class="col-5 m-auto pb-2">
              <img src="./assets/images/David fincher.PNG" class="img-fluid" alt="">
            </div>
            <div class="col-5 m-auto pb-2">
              <img src="./assets/images/Jenifer lawrence.PNG" class="img-fluid h-25 pb-2" alt="">
            </div>
            <!-- <div class="col-5 m-auto pb-2">
            <img src="./imagenes/Ryan Gosling.PNG" class="img-fluid h-25" alt="">
            </div> -->
          </div>
        </div>
      </div>

      <!-- Quizz Game -->

      <div class="col-6 mt-5">
        <h2 class="text-center text-white p-2">¿Te suena este fotograma?</h2>
        <div class="col-8 mt-5 m-auto">
          <img src="./assets/images/fotograma Interstellar.PNG" class="img-fluid" alt="">
        </div>
        <p class="text-center text-white mt-4">Una pelicula y una serie para adivinar cada día</p>
        <div class="row justify-content-around mt-4">
          <a href="" [routerLink]="['/FrameQuizz']" class="btn btn-light col-4" tabindex="-1" role="button" aria-disabled="true">Acceder a FrameQuizz</a>
        </div>

      </div>

    </div>

    <!-- 2º sección -->

    <div class="row justify-content-between border-top mt-5">
      <!-- TÍTULO -->
      <h2 class="text-white text-center mt-3 mb-3">Próximos Estrenos</h2>

      <!-- Próximas Películas -->
      <div *ngFor="let movie of upcomingMovies | slice:0:8" class="col-md-3 mb-4">
        <div class="card" style="width: 100%; height: 100%;">
          <img [src]="movie.posterUrl" class="card-img-top" [alt]="movie.title">
          <div class="card-body">
            <h5 class="card-title text-center ">{{ movie.title }}</h5>
            <p class="text-center fw-bold ">{{ movie.releaseDate }}</p>
            <div class="d-flex justify-content-center">
              <button href="" [routerLink]="['/pelicula/{{ movie.id }}']" class="btn btn-primary">Más información</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Botón para ver más películas en una nueva página -->
      <div class="text-center mt-3 mb-3">
        <button href="" [routerLink]="['/peliculas/estrenos']" class="btn btn-light">Más estrenos</button>
      </div>
    </div>

    <!-- 3º sección -->

    <div class="row justify-content-between border-top mt-5">
      <!-- TÍTULO -->
      <h2 class="text-white text-center mt-3 mb-3">Episodios de hoy</h2>

      <!-- Próximas Películas -->
      <div *ngFor="let serie of TodayTVSeries | slice:0:8" class="col-md-3 mb-4">
        <div class="card" style="width: 100%; height: 100%;">
          <img [src]="serie.posterUrl" class="card-img-top" [alt]="serie.title">
          <div class="card-body">
            <h5 class="card-title text-center ">{{ serie.title }}</h5>
            <div class="d-flex justify-content-center">
              <button href="" [routerLink]="['/serie/{{ serie.id }}']" class="btn btn-primary">Más información</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Botón para ver más películas en una nueva página -->
      <div class="text-center mt-3 mb-3">
        <button href="" [routerLink]="['/series/estrenos']" class="btn btn-light">Más estrenos</button>
      </div>
    </div>

  </div>
</div>
